<!-- partial page for first link "Mt Shasta City" with map of street, restaurants, park, shops -->
<div>
  <h3 align="center">Day 4 activities</h3>

  <table class="table table-bordered table-hover">
    <tr>
      <td>11:00AM</td><td></td>
      <td>Checking out</td>
    </tr>
    <tr>
      <td>10:30AM</td>
      <td>To city park picking up jars of water</td>
      <td>
        <a href="../assets/travel/shasta/city/city-park-1.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-park-1.jpg"></a>
        <a href="../assets/travel/shasta/city/city-park-2.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-park-2.jpg"></a>
        <a href="../assets/travel/shasta/city/city-park-3.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-park-3.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-0.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-0.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-1.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-1.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-2.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-2.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-3.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-3.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-4.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-4.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-5.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-5.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-6.jpg" data-lightbox="Headwater" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-6.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>11:00AM</td><td></td>
      <td>Depart for Donsmuir</td>
    </tr>
    <tr>
      <td>11:30AM</td><td>Arrive Donsmuir</td>
      <td>
        <a href="../assets/travel/shasta/donsmuir/garden-1.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/garden-1.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/garden2.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/garden2.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/garden-3.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/garden-3.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/garden-4.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/garden-4.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/garden-5.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/garden-5.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/garden-6.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/garden-6.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/fall-1.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/fall-1.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/fall-2.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/fall-2.jpg"></a>
        <a href="../assets/travel/shasta/donsmuir/fall-3.jpg" data-lightbox="donsmuir" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/donsmuir/fall-3.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>11:00AM</td><td></td>
      <td>Depart for Redding</td>
    </tr>
    <tr>
      <td>12:30PM</td>
      <td>Arrive at Redding, have lunch, visit sun dial bridge</td>
      <td>
        <a href="../assets/travel/shasta/redding/mall-01.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/mall-01.jpg"></a>
        <a href="../assets/travel/shasta/redding/sundial-1.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/sundial-1.jpg"></a>
        <a href="../assets/travel/shasta/redding/sundial-2.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/sundial-2.jpg"></a>
        <a href="../assets/travel/shasta/redding/sundial-2.png" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/sundial-2.png"></a>
        <a href="../assets/travel/shasta/redding/sundial-3.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/sundial-3.jpg"></a>
        <a href="../assets/travel/shasta/redding/sundial-4.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/sundial-4.jpg"></a>
        <a href="../assets/travel/shasta/redding/turtle-bay-1.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/turtle-bay-1.jpg"></a>
        <a href="../assets/travel/shasta/redding/turtle-bay-2.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/turtle-bay-2.jpg"></a>
        <a href="../assets/travel/shasta/redding/turtle-bay-3.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/turtle-bay-3.jpg"></a>
        <a href="../assets/travel/shasta/redding/turtle-bay-4.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/turtle-bay-4.jpg"></a>
        <a href="../assets/travel/shasta/redding/turtle-bay-5.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/turtle-bay-5.jpg"></a>
        <a href="../assets/travel/shasta/redding/turtle-bay6.jpg" data-lightbox="redding" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/redding/turtle-bay6.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>2:00PM</td><td></td>
      <td>Depart for Home</td>
    </tr>
  </table>

  <!--
  head toward Shasta Lake, then Redding for Sundial bridge
  Driving back and going home
  Donsmuir botanical Gardens 4841 Dunsmuir Ave, (530) 235-4740
  -->
</div>
