<!--bubbling up: 8 bubbles of different size floats from bottom to top-->
<div class="container">
  <ul class="bubble-box">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<!--
  <ul class="fly-in hidden" id="FLY-IN">
    <li>W</li>
    <li>E</li>
    <li>L</li>
    <li>C</li>
    <li>O</li>
    <li>M</li>
    <li>E</li>
  </ul>
  <button (click)="showWelcome()">Fly In</button>
-->

<!--dynamic menu bar-->
  <nav>
    <ul>
      <li>style 1
        <ul class="drop-menu menu-1">
          <li>uno</li>
          <li>dos</li>
          <li>tres</li>
          <li>cuatro</li>
          <li>cinco</li>
          <li>seis</li>
        </ul>
      </li>
      <li>style 2
        <ul class="drop-menu menu-2">
          <li>uno</li>
          <li>dos</li>
          <li>tres</li>
          <li>cuatro</li>
          <li>cinco</li>
          <li>seis</li>
        </ul>
      </li>
<!--      <li>style 3
        <ul class="drop-menu menu-3">
          <li>uno</li>
          <li>dos</li>
          <li>tres</li>
          <li>cuatro</li>
          <li>cinco</li>
          <li>seis</li>
        </ul>
      </li>
      <li>style 4
        <ul class="drop-menu menu-4">
          <li>uno</li>
          <li>dos</li>
          <li>tres</li>
          <li>cuatro</li>
          <li>cinco</li>
          <li>seis</li>
        </ul>
      </li>-->
    </ul>
  </nav>

