<div id="stagger-container" [@listAnimation]="items.length">

  <!--very simple progress bar with a thumb that moves around-->
  <div class="loading-bar" (mouseenter)="slideRight()" (mouseleave)="slideLeft()">
    Mouse Hover moves thumb right, leave moves left
    <div class="thumb" [@slider]="sliding"></div>
  </div>

  <!--A dot within a circle that bounces around-->
  <div class="big-circle" (click)="startBounce()">
    <div class="black-dot" [@bounceDot]="dotState"></div>
  </div>

  <button (click)="pushItem()">Add item</button>
  <button (click)="removeItem()">Remove item</button>

  <div id="list" *ngFor="let ITEM of items">
    {{ITEM}}
  </div>


</div>
