
<h3>json-test demonstration</h3>

  <div class="panel panel-info">
    <div class="panel-heading">IP Service</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="testIpService()">Test</button>
      <span>{{getIpResponse()}}</span>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Date Service</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="testDateService()">Test</button>
      <span>{{getDateResponse()}}</span>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Time Service</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="testTimeService()">Test</button>
      <span>{{getTimeResponse()}}</span>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Echo Service</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="testEchoService()">Test</button>
      <span>{{getEchoResponse()}} </span>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Header Service</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="testHederService()">Test</button>
      <span>{{getHeaderResponse()}}</span>
    </div>
  </div>
