
<div class="container-fluid">
  <div class="well">
    <h4>Auto-Grow Input when clicked</h4>
    <label>Name:</label>
    <input appSbAutogrow>
    <button appSbAutogrow>Click me</button>
    <input type="radio" appAutogrow value="Select me">ABC
    <img src="../assets/icon/dice.png" appAutogrow>
    Images can NOT be focused!
    <pre><img src="../assets/reference/drtv/sb-autogrow-1.png" class="img img-rounded img-responsive"></pre>
    <pre><img src="../assets/reference/drtv/sb-autogrow.png" class="img img-rounded img-responsive"></pre>
  </div>

  <h4>Hover to Change color</h4>
  <div class="well">
    <p [appHoverColor]="'#f5f216'" [leaveColor]="'#e802f3'" id="P1">paragraph</p>
    <button [appHoverColor]="'#dea00b'" [leaveColor]="'#08de4b'" id="BTN1">button</button>
    <div [appHoverColor]="'#1fdedd'" [leaveColor]="'#de1929'" id="DIV1">div</div>
    <pre>&lt;p [appHoverColor]="'#f5f216'" [leaveColor]="'#e802f3'" id="P1"&gt;</pre>
    <pre><img src="../assets/reference/drtv/hover-color.png" class="img img-rounded img-responsive"></pre>
  </div>

  <h4>Auto Grow on Click + Animation on Hover
  <button class="btn btn-primary" (mouseenter)="animateVisibility()"  (mouseleave)="animateVisibility()"
          (click)="toggleSize()">Animate </button></h4>
  <div class="well">
    <button class="DIR" appAutogrow [@showHide]="visibility" [@sizing]="size">(button)click me</button>
    <div class="DIR" appAutogrow [@sizing]="size">div</div>
    <input class="DIR" placeholder="(input)click me" appAutogrow [@showHide]="visibility">
    <pre>&lt;button class="DIR" appAutogrow [@showHide]="visibility" [@sizing]="size"&gt;</pre>
  </div>

  <h4>Zoom on Hover</h4>
  <div class="well">
    <p appZoomHover="1.5em">This is the day the LORD has it made</p>
    <input appZoomHover="2.2em" placeholder="hover over me">
    <button appZoomHover="0.3em" class="btn btn-success">Big and Small</button>
    <div appZoomHover="2.5em">
      <br/>
      ngx-warehouse comes with a default configuration to get up and running quickly.
      However, if you'd like to customize the options, it's easy to do so.
      <i class="fa fa-train"></i>
    </div>
    <pre><img src="../assets/reference/drtv/zoom-hover-1.png" class="img img-rounded img-responsive"></pre>
    <pre><img src="../assets/reference/drtv/zoom-hover.png" class="img img-rounded img-responsive"></pre>
  </div>

  <!--<div class="panel">-->
  <div class="appCollapsable">
    <i class="fa fa-toggle-down collapsible-indicator"></i>
    <div class="collapsible-section">
      This is the day the LORD has it made,<br/>
      let us rejoice and be HAPPY in it....
    </div>
  </div>

</div>

