<!-- partial page for first link "Mt Shasta City" with map of street, restaurants, park, shops -->
<div>
  <h2 align="center">Day 2 Plan</h2>
  <!--    7/16 Visit McCloud Falls, 10AM to 3PM, hike along the river, play water
      Then back to Mt. Shasta for dinner-->

  <table class="table table-bordered table-hover">
    <tr>
      <td>10:00AM</td>
      <td>Depart for McCloud River Falls</td>
    </tr>
    <tr>
      <td>10:30AM</td>
      <td> Arrive McClound River Upper Falls - hiking, water dipping, taking pictures</td>
      <td>
        <a href="../assets/travel/shasta/waterfall/mccloud-map.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-map.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-1.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-1.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-2.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-2.JPG"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-3.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-3.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-4.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-4.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-5.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-5.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-6.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-6.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-7.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-7.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-8.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-8.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-9.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-9.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-10.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-10.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-11.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-11.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-12.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-12.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-14.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-14.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/mccloud-15.jpg" data-lightbox="McClound" data-title="McCloud Falls">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/mccloud-15.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>3:00PM</td>
      <td>Depart for Mt. Shasta city park</td>
      <!--<td>Images goes here</td>-->
    </tr>
    <tr>
      <td>3:30PM</td>
      <td>Arrive at city park, city, dinner</td>
      <td>
        <a href="../assets/travel/shasta/city/city-park-1.jpg" data-lightbox="City park" data-title="City park">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-park-1.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-0.jpg" data-lightbox="City park" data-title="City park">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-0.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-1.jpg" data-lightbox="City park" data-title="City park">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-1.jpg"></a>
        <a href="../assets/travel/shasta/city/headwater-2.jpg" data-lightbox="City park" data-title="City park">
          <img class="img-thumb" src="../assets/travel/shasta/city/headwater-2.jpg"></a>
      </td>
    </tr>
  </table>
</div>
