<div class="container-fluid">

  <div class="row">
    <div class="morph-box" [@morph]="animFlag">Load time morph</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <button id="BTN-1" [@showAndHide]="visibility" (mouseenter)="hideButton()" (mouseleave)="showButton()">
        Hover over me</button>
    </div>

    <div class="col-sm-4">
      <p [@bigAndSmall]="transitionState" (click)="toggle()" (mouseenter)="showHideTip('on')"
         (mouseleave)="showHideTip('off')">
        Click / Hover here !
      </p>
    </div>

    <div class="col-sm-5">
      <i (click)="moveBall()" class="fa fa-diamond"></i>
      <div [@moveBall]="ballState" class="bounce-ball"></div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well" [@tipSter]="showTip">
        This is the day the LORD has it made. Let us rejoice and be HAPPY in it....
      </div>
    </div>
  </div>

  <div class="row race-blk">
    <!--left car column-->
    <div class="col-sm-2 vehicle">
      <img src="../assets/animation/car1.png" [@carRaceLeft]="carStateLeft">
      <img src="../assets/animation/car4.ico" [@carRaceLeft]="carStateLeft">
      <img src="../assets/animation/car8.png" [@carRaceLeft]="carStateLeft">
      <img src="../assets/animation/train.png" [@carRaceLeft]="carStateLeft">
    </div>

    <div class="col-sm-8">
      <i class="fa fa-flag-checkered fa-3x" (click)="startRace()"></i>
    </div>

    <div class="col-sm-2 vehicle">
      <div class="filler"></div>
      <img src="../assets/animation/car2.png" [@carRaceRite]="carStateRite">
      <img src="../assets/animation/car3.png" [@carRaceRite]="carStateRite">
      <img src="../assets/animation/car5.png" [@carRaceRite]="carStateRite">
      <img src="../assets/animation/car6.jpg" [@carRaceRite]="carStateRite">
    </div>
  </div>

  <!--fly in blocks C R D of CRUD-->
  <div class="container">
    <input placeholder="type something to add" class="form-control" [(ngModel)]="item">
    <button class="btn btn-success" id="BTN-2" (click)="addItem()">Add</button>
    <button class="btn btn-danger" id="BTN-3" (click)="removeItem()">Delete</button>
    <section class="panel">
      <ul *ngIf="list" [@itemAnim]>
        <li *ngFor="let ITEM of list">{{ITEM}}</li>
      </ul>
    </section>
  </div>

</div>
