<!-- partial page for first link "Mt Shasta City" with map of street, restaurants, park, shops -->
<div>
  <h2 align="center">Day 1 Plan</h2>

  <!-- 4 strips of text plus photos for landscape, for portrait use 2 photos per row with narrow text on top-->
  <table class="table table-bordered table-hover">
    <tr>
      <td>8:30AM</td>
      <td> Meet at Chi-Hsiang house in Milpitas</td>
    </tr>
    <tr>
      <td>10:30AM</td>
      <td> Arrive Vacaville Premium Outlet for restroom break, shopping a bit?</td>
      <td>
        <a href="../assets/travel/shasta/vacaville/outlet-00.jpeg" data-lightbox="vacaville" data-title="Vacaville Premium Outlet">
          <img class="img-thumb" src="../assets/travel/shasta/vacaville/outlet-00.jpeg"></a>
        <a href="../assets/travel/shasta/vacaville/outlet-01.jpg" data-lightbox="vacaville" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/vacaville/outlet-01.jpg"></a>
        <a href="../assets/travel/shasta/vacaville/outlet-02.jpg" data-lightbox="vacaville" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/vacaville/outlet-02.jpg"></a>
        <a href="../assets/travel/shasta/vacaville/outlet-03.jpg" data-lightbox="vacaville" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/vacaville/outlet-03.jpg"></a>
        <a href="../assets/travel/shasta/vacaville/outlet-04.jpg" data-lightbox="vacaville" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/vacaville/outlet-04.jpg"></a>
        <a href="../assets/travel/shasta/vacaville/downtown.jpg" data-lightbox="vacaville" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/vacaville/downtown.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>11:00AM</td>
      <td> Depart for Redding</td>
      <!--<td>Images goes here</td>-->
    </tr>
    <tr>
      <td>1:30PM</td>
      <td> Arrive at Redding's Mt. Shasta Mall for restroom break and lunch</td>
      <td>
        <a href="../assets/travel/shasta/redding/welcome.jpg" data-lightbox="Redding Mall"  data-title="">
          <img class="img-thumb" data-lightbox="day1" src="../assets/travel/shasta/redding/welcome.jpg"></a>
        <a href="../assets/travel/shasta/redding/mall-01.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" data-lightbox="day1" src="../assets/travel/shasta/redding/mall-01.jpg"></a>
        <a href="../assets/travel/shasta/redding/mall-02.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" data-lightbox="day1" src="../assets/travel/shasta/redding/mall-02.jpg"></a>
        <a href="../assets/travel/shasta/redding/mall-03.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" data-lightbox="day1" src="../assets/travel/shasta/redding/mall-03.jpg"></a>
        <a href="../assets/travel/shasta/redding/shasta-dam.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" src="../assets/travel/shasta/redding/shasta-dam.jpg"></a>
        <a href="../assets/travel/shasta/redding/mall-04.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" src="../assets/travel/shasta/redding/mall-04.jpg"></a>
        <a href="../assets/travel/shasta/redding/mall-05.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" src="../assets/travel/shasta/redding/mall-05.jpg"></a>
        <a href="../assets/travel/shasta/redding/mall-06.jpg" data-lightbox="Redding Mall">
          <img class="img-thumb" src="../assets/travel/shasta/redding/mall-06.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>2:30PM</td>
      <td> Depart for the house</td>
      <!--<td>Images goes here</td>-->
    </tr>
    <tr>
      <td>3:30PM</td>
      <td> Arrive at the house in Mt. Shasta</td>
      <td>
        <a href="../assets/travel/shasta/house/front-view.jpg" data-lightbox="The House"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/house/front-view.jpg"></a>
        <a href="../assets/travel/shasta/house/living-room2.jpg" data-lightbox="The House"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/house/living-room2.jpg"></a>
        <a href="../assets/travel/shasta/house/kitchen-2.jpg" data-lightbox="The House"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/house/kitchen-2.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>4:00PM</td>
      <td> Visit Mt. Shasta high point "Panther meadows" and "bunny flat"</td>
      <td>
        <a href="../assets/travel/shasta/mountain/mt-aerial.jpg" data-lightbox="Mountain"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/mountain/mt-aerial.jpg"></a>
        <a href="../assets/travel/shasta/mountain/panther-meadow-2.jpg" data-lightbox="Mountain"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/mountain/panther-meadow-2.jpg"></a>
        <a href="../assets/travel/shasta/mountain/panther-meadow-3.jpg" data-lightbox="Mountain"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/mountain/panther-meadow-3.jpg"></a>
        <a href="../assets/travel/shasta/mountain/panther-meadow-1.jpg" data-lightbox="Mountain"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/mountain/panther-meadow-1.jpg"></a>
        <a href="../assets/travel/shasta/mountain/water-source.jpg" data-lightbox="Mountain"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/mountain/water-source.jpg"></a>
      </td>
    </tr>
    <tr>
      <td>6:00PM</td>
      <td> Dinner at Mt. Shasta city ???</td>
      <td>
        <a href="../assets/travel/shasta/city/city-4.jpg" data-lightbox="city"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-4.jpg"></a>
        <a href="../assets/travel/shasta/city/city-1.jpg" data-lightbox="city"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-1.jpg"></a>
        <a href="../assets/travel/shasta/city/city-2.jpg" data-lightbox="city"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-2.jpg"></a>
        <a href="../assets/travel/shasta/city/city-5.jpeg" data-lightbox="city"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-5.jpeg"></a>
        <a href="../assets/travel/shasta/city/city-6.jpg" data-lightbox="city"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city-6.jpg"></a>
        <a href="../assets/travel/shasta/city/city7.jpg" data-lightbox="city"  data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/city/city7.jpg"></a>
      </td>
    </tr>
  </table>

</div>
