<div class="container-fluid">
  <div class="col-sm-4" *ngIf="popMenuVisible">
    <div class="panel">
      <div class="panel-heading">Animation Samples</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><a routerLink="/animation/css-basic">CSS Basic</a></li>
          <li class="list-group-item"><a routerLink="/animation/css-adv">CSS Advanced</a></li>
          <li class="list-group-item"><a routerLink="/animation/ng-basic">Angular Basic</a></li>
          <li class="list-group-item"><a routerLink="/animation/ng-adv">Angular Advanced</a></li>
          <li class="list-group-item"><a routerLink="/animation/ng-list">Angular List</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9" [style.width]="contentWidth">
    <router-outlet></router-outlet>
  </div>
</div>
