<div class="container-fluid">
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-heading">Animation Samples</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><a routerLink="/animation/css-basic">CSS Basic</a></li>
          <li class="list-group-item"><a routerLink="/animation/css-adv" class="NOT-DONE">CSS Advanced</a></li>
          <li class="list-group-item"><a routerLink="/animation/ng-basic">Angular Basic</a></li>
          <li class="list-group-item"><a routerLink="/animation/ng-adv" class="NOT-DONE">Angular Advanced</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
