<!--parent with 2 components, one selects color, the other displays color(AU exercise)-->
<div class="container">
  <h4>Binding DOM property to Components<span>(Click small squares)</span></h4>
  <app-chooser [myColor]="chooserInitialColor"
               (colorEmitter)="newColor = $event; viewerColor = newColor"></app-chooser>
  <app-viewer [viewerColor]="newColor"></app-viewer>

  <app-color-sample [myColor]="inp.value"></app-color-sample>
  <label>Enter color</label>
  <input (keyup)="changeColor()" #inp value="#0f0ff0">
</div>
