.container-fluid {
  background-color: #cee4e6;
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  z-index: 1000;
}

h5 {
  display: inline-block;
}

.sys-header {
  padding: 10px;
  z-index: 1000;
}

.sys-header input {
  margin-left: 60px;
  border-radius: 5px;
  font-size: 1em;
  width: 250px;
  padding-left: 10px;
}

.srch-div {
  position: relative;
  display: inline-block;
}

.search-list {
  position: absolute;
  top: 22px;
  left: 80px;
  width: 220px;
  height: 120px;
  background-color: #ffffc4;
  z-index: 1010;
  border-radius: 3px;
  overflow-y: scroll;
}
.search-list > ul {
  list-style: none;
}
.search-list > ul > li {
  margin: 3px 0 2px 15px;
  border-radius: 0;
}

.sys-header > ul {
  position: fixed;
  top: 0;
  right: 15%;
  font-size: 0.8em;
  list-style-type: none;
}

.sys-header > ul > li {
  display: inline-block;
  padding: 6px;
  margin: 5px 0 0 0;
  cursor: pointer;
  font-weight: bold;
}

.sys-header li:hover {
  background-color: darkgray;
  color: white;
  border-radius: 5px;
}

.logo {
  width: 50px;
  position: fixed;
  top: 5px;
  right: 5px;
}

.ng-logo {
  width: 20px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.app-header {
  position: fixed;
  top: 50px;
  left: 0;
  background-color: deepskyblue;
  width: 100%;
  padding: 0 0 0 10px;
  color: white;
  z-index: 1000;
}

.app-header ul {
  list-style-type: none;
  margin: 0;
}

.app-header li {
  display: inline-block;
  font-size: 1.2em;
}

.menu-item {
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}
.menu-item:hover { background: lightgray; color: blue; }
.menu-item a {
  text-decoration: none;
}
.menu-item a:link { color: white; }
.menu-item a:visited { color: white; }
.menu-item a:hover { color: black; }
/*.menu-item a:active { color: greenyellow; }*/
.menu-item a.active { color: yellow; }

.main-view {
  position: absolute;
  top: 90px;
  width: 100%;
}

.outlet-box {
  position: fixed;
  top: 90px;
  width: 100%;
}
