<div class="container-fluid">
    <div class="col-sm-4" *ngIf="popMenuVisible">
      <div class="panel">
        <div class="panel-heading">Sample Apps</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/badge">Badge System</a></li>
          </ul>
        </div>

        <div class="panel-heading">Travel</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/travel/mt-shasta/place">Mt. Shasta</a></li>
          </ul>
        </div>

        <div class="panel-heading">Utilities</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/util/weather-card">Weather Card</a></li>
            <li class="list-group-item"><a routerLink="/apps/util/calculator">Calculator</a></li>
            <li class="list-group-item"><a routerLink="/apps/util/pomodoro">Pomodoro Timer</a></li>
          </ul>
        </div>

        <div class="panel-heading">Fun</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/fun/ttt-1">Tic Tac Toe #1</a></li>
            <li class="list-group-item"><a routerLink="/apps/fun/hot-cold" class="NOT-DONE">Hot Cold Game</a></li>
            <li class="list-group-item"><a routerLink="/apps/fun/simon" class="NOT-DONE">Simon Says</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div class="col-sm-9" [style.width]="contentWidth">
      <router-outlet></router-outlet>
    </div>
</div>
