<div class="container-fluid">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">Sample Apps</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/badge">Badge System</a></li>
          </ul>
        </div>

        <div class="panel-heading">Utilities</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/weather-card">Weather Card</a></li>
            <li class="list-group-item"><a routerLink="/apps/calculator">Calculator</a></li>
            <li class="list-group-item"><a routerLink="/apps/pomodoro">Pomodoro Timer</a></li>
          </ul>
        </div>

        <div class="panel-heading">Fun</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/apps/ttt-1">Tic Tac Toe #1</a></li>
            <li class="list-group-item"><a routerLink="/apps/simon" class="NOT-DONE">Simon Says</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
</div>
