

<div class="jumbotron" style="margin: 30px 0 0 0; background: lightgreen; padding-bottom: 80px;">
  <h1 class="title-font">Quotes of the day
    <p class="footer-font pull-right">(<a href="https://theysaidso.com/api/" target="_blank">
      They Said So Famous Quotes</a>)</p></h1>
  <p>{{quoteText}}</p>
  <p class="author-font">{{author}}</p>
  <div class="pull-right">
    <!--<form id="FORM">-->
      <!--<button (click)="getQod()" class="btn btn-primary btn-lg">Quote of the day</button>-->
      <a class="btn" href="https://www.twitter.com"><i class="fa fa-3x fa-twitter"></i></a>
    <!--</form>-->
  </div>
</div>
