<!-- partial page for first link "Mt Shasta City" with map of street, restaurants, park, shops -->
<div>
  <h2 align="center">Day 3 Plan</h2>

  <table class="table table-bordered table-hover">
    <tr>
      <td>10:00AM</td>
      <td>Depart for Siskiyou Lake</td>
    </tr>
    <tr>
      <td>10:30PM</td>
      <td>Hike, Swim, Play and Lunch at the lake</td>
      <td>
        <a href="../assets/travel/shasta/lake/siskiyou-1.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-1.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-2.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-2.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-3.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-3.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-4.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-4.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-5.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-5.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-6.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-6.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-7.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-7.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-8.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-8.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-9.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-9.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-10.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-10.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-11.jpg" data-lightbox="Siskiyou" data-title="Lake Siskiyou">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-11.jpg"></a>
        <a href="../assets/travel/shasta/lake/siskiyou-map.jpg" data-lightbox="Siskiyou" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/siskiyou-12.jpg"></a>
        <!--www.lakesiskiyouresort.com-->
      </td>
    </tr>
    <tr>
      <td>1:00PM</td>
      <td>Depart for Castle Lake</td>
      <!--<td>Images goes here</td>-->
    </tr>
    <tr>
      <td>1:30PM</td>
      <td>Arrive at Castle Lake, also visit Faery Falls nearby</td>
      <td>
        <a href="../assets/travel/shasta/lake/castle-1.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/castle-1.jpg"></a>
        <a href="../assets/travel/shasta/lake/castle-2.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/castle-2.jpg"></a>
        <a href="../assets/travel/shasta/lake/castle-3.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/castle-3.jpg"></a>
        <a href="../assets/travel/shasta/lake/castle-4.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/castle-4.jpg"></a>
        <a href="../assets/travel/shasta/lake/castle-5.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/castle-5.jpg"></a>
        <a href="../assets/travel/shasta/lake/castle-6.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/lake/castle-6.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/faery-1.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/faery-1.jpg"></a>
        <a href="../assets/travel/shasta/waterfall/faery-2.jpg" data-lightbox="castle" data-title="">
          <img class="img-thumb" src="../assets/travel/shasta/waterfall/faery-2.jpg"></a>
      </td>
    </tr>
  </table>

  <!--
      7/17 Hike Mt. Shasta a little bit, Visit Lake Siskiyou and castle lake, walk on bridge
      Canoe, kayak, paddle boat http://www.lakesiskiyouresort.com/
      splash zone 530.926.2617
      4239 W A Barr Rd Mt Shasta, CA 96067
      http://reynoldsresorts.com/LakeSiskiyou/attractions.html

      Lake Siskiyou Trail is a 6.5 mile moderately trafficked loop trail located near Mt Shasta,
      California that features a river and is good for all skill levels.
  -->
</div>
