<div class="container-fluid">
  <div id="circle-ball">
    <div class="sandbox">
      <div class="circle"></div>
      <div class="circle green"></div>
      <div class="circle brown"></div>
    </div>
  </div>

  <!--Devtips youtube example-->
  <div class="trigger">
    <div class="square">Pop-out block</div>
  </div>

  <!--A box that expand/shrink 10 times in the beginning-->
  <div class="blk">animation prop</div>

  <!--A box with defined transition, triggered by hover, focus, animate 4 properties-->
  <div class="box-trans">CSS Transition</div>

<!--  <i class="fa fa-3x fa-bullseye" (click)="toggleTrigIf()"></i>
  <div class="box-if" *ngIf="trigIf">Animating hover/ngIf</div>-->
</div>
